<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Clicker</title>
</head>
<body>

	<h1>Available Rewards!</h1>

	<% @rewards.each do |reward| %>
	<form action='/rewards' method="POST">
		
		<h3>
			<% if logged_in? %> 
				<input type="hidden" name="name" value="<%= reward.name %>">
				<input type="submit" value="Buy">
			<% end %>

			<a href="rewards/<%= reward.id %>"><%= reward.name %></a> - <%= reward.cost %> Clicks
		</h3>
	</form>
		
	<% end %>

	<%if logged_in? %> 
		<a href="users/<%= current_user.id %>">User page</a>
	<% end %>
</body>
</html>
