<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Clicker - User</title>
</head>
<body>

	<%if logged_in? && @user.id == session[:user_id]%> 

		<h1>Welcome <%=@user.username%>!</h1>


		<form action='/users/:user_id' method="POST">
			<p><input type="submit" value="Click"></p>
		</form>

		<p><a href="/logout">Log Out</a></p>

	<% else %>

		<h1><%= @user.username%>'s Page</h1>
	<% end %>

	<h2>Clicks:<%= @user.clicks%> </h2>

	<h2>Rewards:</h2>
	<% @user.user_rewards.each do |user_reward| %>
		<%= user_reward.reward.name.pluralize %> <%= user_reward.quantity %>
	<% end %>


</body>
</html>